Package: rpi-digie35
Version: 0.5
Maintainer: Tomas Mandys <tma@2p.cz>
Architecture: all
Description: Stuff required for Digie35
Depends: autoconf, avahi-daemon, autopoint, chromium-browser, dcraw, dh-python, code, crudini, evtest,
  ffmpeg, fuse, fuse3, geeqie, gettext, git, git-gui,
  gphoto2, gpicview, gtkam, imagemagick, i2c-tools, lftp,
  libgl1-mesa-dri, libltdl-dev, libusb-dev, libusb-1.0-0-dev, libexif-dev, libopencv-dev, libpopt-dev, libxml2-dev, libjpeg-dev,
  log2ram, make, mc, net-tools, nginx, numlockx, pigpio, pigpio-tools, python3, python3-gpiozero,
  python3-libcamera, python3-matplotlib, python3-opencv, python3-pip, python3-rpi-lgpio, python3-scipy, python3-simplejson, python3-urwid, python3-yaml, python3-gpiozero,
  raspi-gpio, raspi-utils, rawtherapee, realvnc-vnc-server, rpi-connect, samba, screen, smbclient, ssh, swig,
  usbutils, ustreamer, v4l-utils, valgrind, vim,
  wireshark, wvkbd, xrdp
